/**************************************************** MEET TAEKOOK ***************************************************************/

.full-page-image-side {
    position: fixed;
    top: 0;
    width: 35vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    transition: background-image 0.8s ease-in-out;
  }
  
  .tae-full-page-image-side {
    left: 0;
    background-image: url('/static/images/taekook/taetae_side.webp');
  }
  
  body.scrolled .tae-full-page-image-side {
    background-image: url('/static/images/taekook/taetae_sideeye.webp');
  }
  
  .koo-full-page-image-side {
    right: 0;
    background-image: url('/static/images/taekook/kookie_side.webp');
  }
  
  body.scrolled .koo-full-page-image-side {
    background-image: url('/static/images/taekook/kookie_sideeye.webp');
  }

  .back-button {
    position: fixed;
    top: 5px;
    font-size: 1.5rem;
    padding: 8px;
    z-index: 1000;
  }
  
  .tae-back-button {
    right: 15px;
  }
  
  .koo-back-button {
    left: 15px;
  }

  .tae-content-wrapper {
    margin-left: 35vw;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .koo-content-wrapper {
    margin-right: 35vw;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .tksection {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 20px;
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .tksection p {
    font-size: 1.2rem;
  }

  .tksection ul {
    list-style-type: none; 
    padding-left: 0;
    margin-top: 10px;
  }
  
  .tksection li {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: rgba(106, 13, 173, 0.1);
    border-left: 4px solid #a855f7;
    border-radius: 10px;
    color: #ccc;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .tracklist-cover p {
    text-align: center;
    color: #9354ce;
    font-weight: 800;
  }
  
  .tracklist-image {
    border-radius: 15px;
    width: auto;
    max-height: 150px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .tracklist-columns {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    width: 100%;
    align-items: flex-start;
    margin-top: 60px;
  }

  .tracklist {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
    width: 100%;
  }
  
  .tracklist li {
    width: 100%;
    color: #00ffff;
    font-size: 1rem;
    font-weight: 500;
    background: none;
    border: none;
    border-radius: 0;
    line-height: 2.2px !important;
    margin-top: 0;
    margin: 2px 0;
  } 
  
  .tracklist li::before {
    content: "🎵 ";
    margin-right: 6px;
  }

  .profile-img {
    display: block;
    margin: 30px auto 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #008000;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }

  h1, h2 {
    color: #FFA500;
    text-align: center;
  }

  h1 {
    font-size: 5rem !important;
  }

  .tkcaption {
    font-size: 1.5rem !important; 
    color: #3dcf64;
    margin: 0.2rem 0; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px !important;
    text-align: center;
    max-width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 
                 -2px -2px 4px rgba(0, 0, 0, 0.4), 
                 0px 4px 6px rgba(0, 0, 0, 0.3);
    line-height: 0.8; 
    z-index: 100;
}

  .down-arrow {
    font-size: 2rem;
    animation: bounce 1.5s infinite;
    display: inline-block;
    color: #a855f7;
    transform: translateY(-40px);
  }

  @keyframes bounce {
    0%, 100% { transform: translateY(-40px); }
    50% { transform: translateY(-30px); }
  }

  .quote-box {
    background: linear-gradient(to right, #a855f7, #008000);
    color: #fff;
    padding: 10px;
    margin: 10px auto;
    border-radius: 12px;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    max-width: 1000px;
  }

  #taekookintro {
    width: 60%;  
    height: auto; 
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .youtube-banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .youtube-banner iframe {
    width: 90vw;
    max-width: 700px;
    height: 350px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }

  .rounded-image {
    border-radius: 15px;
    width: auto;
    max-height: 240px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .side-by-side {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .taekooklive img,
  .taekooklive video {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  #bamtanintro {
    width: auto;
    max-height: 240px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
  }

  .chapter-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
  }

  #actortaetae, #goldenmaknae, #taekookart {
    height: 500px; 
    width:auto; 
    border-radius: 20px;
  }

  #taekookthankyou {
    height: 600px; 
    width:auto; 
    border-radius: 20px;
  }

  .title-audio-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    flex-wrap: wrap; 
  }

  #audioControl {
    top: 150px;
  }

  #audioIcon {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  .weverse-image {
    width: 350px; 
    border-radius: 20px;
  }

  .taekook-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 400px;
  }

  .taekook-social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
    object-fit: contain;
    bottom: 0;
  }

  .taekook-social-icon:hover {
    transform: scale(1.2);
  }

  .taekook-footer {
    position: relative;
    text-align: center;
    background: transparent;
    color: #ccc;
    font-size: 1rem;
    border-top: 2px solid #a855f7;
    box-shadow: 0 -4px 10px rgba(106, 13, 173, 0.4);
    bottom: 0;
  }

  .taekook-footer p {
    margin: 0;
    line-height: 1.6;
  }

/* Mobile Styles */
@media screen and (max-width: 768px) {

.back-button {
    position: fixed;
    /* top: 50px; */
    font-size: 1rem;
    }
    
    .tae-back-button {
    right: 25px;
    }
    
    .koo-back-button {
    left: 25px;
    }
    
  .tae-full-page-image-side {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/images/taekook/taetae_side.webp'); 
    opacity: 0.5;
    filter: brightness(70%) contrast(90%);
    pointer-events: none;
    z-index: 0;
  }

  .tae-content-wrapper {
    margin-left: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .koo-full-page-image-side {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/images/taekook/kookie_side.webp'); 
    opacity: 0.5;
    filter: brightness(70%) contrast(90%);
    pointer-events: none;
    z-index: 0;
  }

  .koo-content-wrapper {
    margin-right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  h1 {
    font-size: 1.5rem !important;
    margin-top: 10px;
  }

  h2 {
    font-size: 1.2rem !important;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .tksection {
    padding: 80px 10px;
    max-width: 90%;
    margin: 0 auto;
  }

  .tksection p {
      font-size: 0.65rem;
      line-height: 1.5;
  }

  .tksection ul {
    padding: 0;
    margin: 1px 0;
    margin-top: 0;
  }

  .tksection li {
    font-size: 0.65rem;
    padding: 5px;
    margin: 2px 0;
    border-left: 2px solid #a855f7;
    background-color: rgba(106, 13, 173, 0.08);
    border-radius: 8px;
    color: #eee;
    line-height: 1.4;
    word-wrap:normal;
  }

  .tracklist-cover p {
    text-align: center;
    color: #9354ce;
    font-weight: 800;
  }

  .tracklist-image {
    border-radius: 15px;
    width: auto;
    max-height: 80px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .tracklist-columns {
    flex-direction: row;  
    gap: 4px;     
    margin-top: 30px;
    margin-left: 20px;
  }
 
  .tracklist {
    list-style: none;
    margin: 0;
    padding: 0 4px;
  }

  .tracklist li {
    color: #00ffff;
    background: none;
    border: none;
    border-radius: 0;
    line-height: 1rem !important;
    margin: 0 15px;
    top: 15px;
    padding: 0;
    text-indent: -2em;
  }

  .tracklist li::before {
    margin-right: 4px;
  }

  .profile-img {
    width: 130px;
    height: 130px;
    margin-top: 2px;
    border: 3px solid #008000;
  }

  .tkcaption {
    font-size: 0.6rem !important;
  }

  .quote-box {
    font-size: 0.6rem;
    padding: 8px;
    margin: 3px auto;
    max-width: 800px;
  }

  .youtube-banner iframe {
    margin-top: 2px;
    height: 150px;
  }

  .rounded-image {
    border-radius: 5px;
    width: auto;
    max-height: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .side-by-side {
    flex-direction: row;
    gap: 8px;
    margin-top: 0;
  }

  .taekooklive img,
  .taekooklive video {
    max-height: 250px;
    object-fit: contain;
    border-radius: 10px;
  }

  #bamtanintro {
    max-height: 100px;
    object-fit: contain;
  }

  .chapter-media {
    flex-direction: row;
    gap: 1px;
    margin-bottom: 20px;
  }

  #actortaetae, #goldenmaknae, #taekookart {
    height: auto;
    width: 80%;
    object-fit: contain;
    border-radius: 12px;
  }

  #taekookthankyou {
    height: auto;
    max-height: 350px;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
  }

  #taekookweverse {
    width:50% !important; 
    border-radius: 20px;
    padding: 0;
  }

  #audioControl {
    top: 100px;
    right: 15px;
    font-size: 0.75rem;
    padding: 6px 10px;
    gap: 5px;
  }

  #audioIcon {
    font-size: 0.8rem;
    margin-right: 5px;
  }

  .weverse-image {
    width: 200px; 
    border-radius: 20px;
  }

  .taekook-social-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
  }

  .taekook-social-icon {
    width: 24px;
    height: 24px;
  }

  .down-arrow {
    bottom: 15px;
    font-size: 1.5rem;
  }

  .taekook-footer {
    position: relative;
    font-size: 0.9rem;
    margin-top: 40px;
    box-shadow: none;
    margin-bottom: 0px;
  }
}
