{% extends "00.base.html" %}
{% block title %}Challenge Zone{% endblock %}
{% block content %}

<div class="park-zone-page challenge-zone-page">

    <div class="zone-background" style="background-image:url('{{ url_for('static', filename='images/games/themepark/challenge_zone.png') }}')"></div>

    <section class="zone-header">
        <h1>🏆 Challenge Arena</h1>
        <!-- <p>
            Put your TaeKook knowledge to the test!
            Complete challenges and unlock your fan skills.
        </p> -->
    </section>

    <section class="zone-attractions">
        <div class="zone-attraction">
            <img src="{{ url_for('static', filename='images/games/memory_vault.png') }}">
            <h2>🧠 Taekook Memory Vault</h2>
            <p>Flip, match, and unlock precious Taekook memories. Can you become the Memory Master?</p>
            <button onclick="location.href='/memorygame'">Play Now</button>
        </div>

        <div class="zone-attraction">.
            <img src="{{ url_for('static', filename='images/games/taekook_trivia.png') }}">
            <h2>🧠 TKU Trivia Arena</h2>
            <p>Let's test to see how much you know about Tae & Kook.</p>
            <button onclick="location.href='/taekooktrivia'">Play Now</button>
        </div>

        <div class="zone-attraction">.
            <img src="{{ url_for('static', filename='images/games/puzzle_challenge.png') }}">
            <h2>🧩 Puzzle Challenge</h2>
            <p>Put the pieces together and complete the picture!</p>
            <button onclick="location.href='/puzzle'">Play Now</button>
        </div>

        <div class="zone-attraction">
            <img src="{{ url_for('static', filename='images/games/who_said_it.png') }}">
            <h2>💬 Who Said It? Tae or Koo?</h2>
            <p>Guess who said the quote and see how well you know our duo.</p>
            <button onclick="location.href='/whosaidit'">Play Now</button>
        </div>

        <div class="zone-attraction locked">
            <div class="lock">🔒</div>
            <h2>🔤 Crossword</h2>
            <p>Connect the letters. Complete the grid.</p>
            <button>Coming Soon</button>
        </div>
        
        <div class="zone-attraction locked">
            <div class="lock">🔒</div>
            <h2>🔎 Word Search</h2>
            <p>Find hidden words in the puzzle.</p>
            <button>Coming Soon</button>
        </div>

        <div class="zone-attraction locked">
            <div class="lock">🔒</div>
            <h2>⚡ Reaction Speed</h2>
            <p>Tap fast and test your reflexes.</p>
            <button>Coming Soon</button>
        </div>
    </section>
</div>

{% endblock %}