{% extends "00.base.html" %}
{% block title %}Memories{% endblock %}
{% block content %}
<div class="main-content">
    <h1 class="heading">Memories</h1>
    <p class="caption">
        Our memories of Taehyung and Jungkook!
    </p>
    <div class="stay-tuned-banner">
        <p>We are cooking, but we need your help with the ingredients.</p>
        <p>Wear your chef hat and join us. Click this <a href="https://x.com/TheTKUniverse">link</a> to help Our Chefs with your contribution. 💜</p>
        <img src="{{ url_for('static', filename='/images/memories/taekook_cooking.webp') }}" alt="Stay Tuned" class="stay-tuned-image">
    </div>        
</div>
{% endblock %}
