{% extends "00.base_subnav.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/guide.css') }}">
{% endblock %}

{% block title %}Buying Guide{% endblock %}
{% block content %}

<div class="guide-page">
    <div class="guide-header">
        <span>📖 GUIDE 01</span>
        <h1>Power of Purchase</h1>
        <p class="caption">Buying music the right way ensures every purchase contributes 
            to charts and supports Taehyung & Jung Kook.
        </p>
    </div>
   
    {% include "components/banner.html" %}
    
    <div class="guide-chapter">
        <span class="chapter-number">CHAPTER 01</span>
        <h2>What Does Buying Music Mean?</h2>
        <p>Buying music refers to legally purchasing physical/digital copies of a single or an album from official platforms. 
            These purchases contribute to sales charts, strengthen release performance, and help achieve important milestones.
        </p>
     </a>
    </div>

    <div class="guide-chapter">
        <span class="chapter-number">CHAPTER 02</span>
        <h2>The Buyer's Checklist</h2>
        <p>Follow these steps to ensure your purchase is counted:</p>

        <div class="guide-rules">
            <div>
                <h3>Choose the Right Platform</h3>
                <p>Purchase from official platforms like Weverse Shop, BTS Store, iTunes, Qobuz, Amazon, and Ktown4u.</p>
            </div>
            <div>
                <h3>Buy Individual Tracks & Albums</h3>
                <p>On digital platforms, buy individual songs first to maximize impact and then proceed to buy the album.</p>
            </div>
            <div>
                <h3>Avoid Bulk Purchases in One Go</h3>
                <p>Spread out your purchases using different accounts and payment methods instead of bulk-buying at once.</p>
            </div>
            <div>
                <h3>Use Different Platforms</h3>
                <p>Purchase from multiple platforms instead of focusing on just one.</p>
            </div>
            <div>
                <h3>Ensure Proper Payment</h3>
                <p>Use legitimate payment methods to avoid refunds or cancellations that could affect charting.</p>
            </div>
            <div>
                <h3>Download Immediately</h3>
                <p>After digital purchases, download the songs/albums immediately, to ensure the sale is counted. Also, delete them from your Library so your streams are counted.</p>
            </div>
            <div>
                <h3>Share & Recommend</h3>
                <p>Share the official buying links with friends and family to encourage them to purchase.</p>
            </div>
            <div>
                <h3>Join Buying Parties</h3>
                <p>If you are unsure, join the Buying Parties organized by our fanbases during the new release.</p>
            </div>
        </div>
    </div>

    <div class="guide-chapter">
        <span class="chapter-number">CHAPTER 03</span>
        <h2>Buying Guides</h2>
        <p>Follow these Physical and Digital platforms to buy their music.</p>
        <div class="guide-grid">
            <div class="guide-item">
                <a href="https://vtaehyungshop.carrd.co/" target="_blank">
                    <img src="{{ url_for('static', filename='images/guide/buying_tae.webp') }}" alt="Taehyung Buying Guide">
                </a>
            </div>

            <div class="guide-item">
                <a href="https://jungkookshop.carrd.co/" target="_blank">
                    <img src="{{ url_for('static', filename='images/guide/buying_koo.webp') }}" alt="Jung Kook Buying Guide">
                </a>
            </div>
        </div>
    </div>
</div>

<button id="toggle-sticky-note" class="sticky-note-btn">Quick Tips</button>
<div class="sticky-notes">
    <ul>
        <li>Buy from official stores</li>
        <li>Physical & Digital - both matters!</li>
        <li>Download digital purchases</li>
        <li>Avoid Bulk Orders</li>
        <li>Never buy from illegal resource</li>
        <li>Join Buying Parties hosted by FBs</li>
        <li>Share official links</li>
    </ul>
</div>

<script>
    const stickyNote = document.querySelector('.sticky-notes');
    const toggleButton = document.querySelector('#toggle-sticky-note');

    toggleButton.addEventListener('click', function () {
        stickyNote.classList.toggle('open');
    });
</script>

{% endblock %}

