{% extends "00.base_subnav.html" %}
{% block title %}Youtube Stats{% endblock %}
{% block content %}

<div class="page guide-page">
    <h1>Youtube Stats</h1>
    <p class="caption">Here are the most recent stats for Taehyung and Jungkook’s songs on Youtube. See how they are performing!</p>

    <div class="stats-container">
        <!-- Taehyung's Section -->
        <div class="stats-section">
            <h2>Taehyung</h2>
            <!-- <p>Taehyung's Youtube list</p> -->
            <div class="stats-table">
                <table>
                    <thead>
                        <tr>
                            <th>Song Name</th>
                            <th>View Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats if stat.artist == "Taehyung" %}
                            <tr>
                                <td>{{ stat.orig_song_name }}</td>
                                <td>{{ stat.view_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Jungkook's Section -->
        <div class="stats-section">
            <h2>Jung Kook</h2>
            <!-- <p>Jung Kook's 's Youtube list</p> -->
            <div class="stats-table">
                <table>
                    <thead>
                        <tr>
                            <th>Song Name</th>
                            <th>View Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats if stat.artist == "Jungkook" %}
                            <tr>
                                <td>{{ stat.orig_song_name }}</td>
                                <td>{{ stat.view_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="section">
        <h3>Last Updated</h3>
        <p>As of: {{ date_as_of }}</p>
    </div>
</div>

{% endblock %}
