{% macro category_filters(endpoint) %}

<div class="filters">

    <a class="filter-btn all-btn 
       {% if not request.args.get('artist') %}active{% endif %}"
       href="{{ url_for(endpoint) }}">
        All
    </a>

    <a class="filter-btn tae-btn
       {% if request.args.get('artist') == 'Taehyung' %}active{% endif %}"
       href="{{ url_for(endpoint, artist='Taehyung') }}">
        🔴 Taehyung
    </a>

    <a class="filter-btn koo-btn
       {% if request.args.get('artist') == 'Jungkook' %}active{% endif %}"
       href="{{ url_for(endpoint, artist='Jungkook') }}">
        🟡 Jung Kook
    </a>

</div>

{% endmacro %}